body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    background-color: #ffffff;
}
/* header stuff here */
header {
    font-family: 'Parisienne', cursive; 
    padding: 1rem 2vw;
}
header span {
    margin: 0;
    color: #ff00bf;
    font-size: 2.5rem;
}
header p {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    color: #ff9900;
    font-size: 1.22rem;
}

/* navigation stuff here */
nav {
    background-color:#ff00f2 ;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

nav .active a {
    background-color: chartreuse;
    color: #000000;
}
nav a:hover {
    background-color: #ff0000;
}


/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    font-family: 'Parisienne', cursive;
    color: #ffe600;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #ff00ea;
    margin-bottom: .2rem;
}
main p {
    color: #ff00f2;
    margin: 0 0 .8rem 0;
    line-height: 150%;
}

main ol {
    background-color: #000000;
}
main dl dt {
    color: #f20519;
    font-weight: 700;
}
main dl dd {
    color: #001aff;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    color: #ff000d;
}

main a {
    color: #001aff;
}
main a:hover {
    background-color:#000000;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0%;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: olive;
}



/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #ff00b3;
    font-size: .7rem;
    padding: 1rem 0;
}
footer a {
    color: #00ffbf;
}